@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Roboto:wght@200&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: medium;
  /* font-family: 'Macondo','cursive'; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
