header {
  padding: 20px 10px;
  background-color: #4dd8d8;
  /* box-shadow: -1px 3px 23px -8px rgba(0, 0, 0, 0.84);
  -webkit-box-shadow: -1px 3px 23px -8px rgba(0, 0, 0, 0.84);
  -moz-box-shadow: -1px 3px 23px -8px rgba(0, 0, 0, 0.84); */

  position: fixed;
  width: 100%;
}

header .logo span{
  font-style: bolder;
  margin-right: 3px;
  color: red;
  /* font-size: 20px; */
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container .links ul {
  display: flex;
}

header .container .links ul li {
  padding: 0 10px;
  list-style: none;
}

header .container .icon {
  position: absolute;
  width: 20px;
  height: 14px;
  right: 5%;
  cursor: pointer;
  display: none;
  z-index: 3;
}

header .container .icon span {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3s;
}

header .container .icon span:first-of-type {
}
header .container .icon span:nth-last-of-type(2) {
  margin-top: 6px;
}
header .container .icon span:last-of-type {
  margin-top: 12px;
}

@media (max-width: 992px) {
  header .container .links {
    background-color: aquamarine;
    position: absolute;
    height: 100vh;
    top: 0;
    flex-direction: column;
    width: 40%;
    right: -50%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
  }
  header .container .links.active {
    right: 0%;
  }
  header .container .links ul {
    flex-direction: column;
    height: 50%;
    justify-content: space-between;
  }
  header .container .icon {
    display: block;
  }
  header .container .icon.active span:first-of-type {
    margin-top: 6px;
    transform: rotate(45deg);
  }
  header .container .icon.active span:nth-last-of-type(2) {
    opacity: 0;
  }

  header .container .icon.active span:last-of-type {
    margin-top: 6px;
    transform: rotate(-45deg);
  }
}